.btn-outline-secondary {
    color: var(--bs-secondary);
}

.btn-outline-secondary {
    &:hover {
        color: white;
    }
}

.header .decoration-star {
    top:80px;
    left: -200px;
    width: 500px;
    opacity: 0.7;
}

.header .decoration-star2 {
    top:30px;
    right: -100px;
    width: 500px;
    opacity: 0.7;
}

.xl-text {
    font-size: 75px;
}

.navbar {
    transition: all 0.5s ease-in-out;
}

.navbar-sticky {
    background: white;
    opacity: 0.9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media(max-width: 992px) {
    .xl-text {
        font-size: 50px;
    }

    .navbar .btn-outline-secondary {
        margin-top: 20px;
    }

    .header {
        margin-top: 0 !important;
        text-align: center;
    }

    .header .decoration-star {
        left: -100px;
        width: 250px;
    }
    
    .header .decoration-star2 {
        right: -50px;
        width: 250px;
    }

    .header .img-container {
        margin-top: 30px;
    }
}

@media(max-width: 576px) {
    .xl-text {
        font-size: 50px;
    }
}